<nav th:fragment="header" class="navbar navbar-theme-light fixed-top justify-content-between">
	<a class="navbar-brand" th:href="@{/dashboard}" href="/dashboard">
		<img class="img-avatar" th:src="@{/assets/img/logo-MRPB.png}" src="../static/assets/img/logo-MRPB.png" />
		<span>Event Management Platform</span>
	</a>
</nav>