@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'CabinBold';
	src: url('../fonts/Cabin-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'CabinRegular';
	src: url('../fonts/Cabin-Regular.ttf') format('truetype');
}

* {
	-webkit-overflow-scrolling: touch;
}

html, body {
	padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', Calibri,'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "OpenSansLight", "OpenSansRegular";
	text-transform: uppercase;
	font-stretch: condensed;
}

canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* APP ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.app {
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	left: 0;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	-webkit-transition: left 0.3s ease, padding-left 0.3s ease;
	transition: left 0.3s ease, padding-left 0.3s ease;
	overflow: hidden;
}

@media (max-width : 991.98px) {
	.app {
		padding-left: 0;
	}
}

/* Content ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.content-page {
	margin-left: 240px;
	min-height: calc(100vh - 50px);
}

@media (min-width: 992px) {
	.content-page {
		padding: 58px calc(240px + 30px) 55px 30px;
	}
}

@media (max-width : 991.98px) and (min-width: 668px) {
	.content-page {
		margin: 15px;
	    padding: 30px 30px 75px 0px;
	}	
}

@media (max-width : 667.98px) {
	.content-page {
		margin: 15px;
	  	padding: 0px 0px 75px 0px;
	}	
}

.content-page-center {
	margin-left: auto !important;
	margin-right: auto !important;
	padding-right: 30px;
}

.content-page-full {
	padding:0px !important;
	margin-left: 0px;
	margin-top: 15vh;
	min-height: calc(100vh - 15vh - 50px);
}

.content-wrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0px;
}

/* Navbar ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.navbar {
	-webkit-transition: left 0.3s ease;
	transition: left 0.3s ease;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: left;
	z-index: 20;
}

.navbar a, .navbar p, .navbar span {
	padding: 0px;
}

.navbar-theme-light {
    background-color: #FFFFFF;
    border-bottom: 3px solid #148AC7;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1) !important;
}

.navbar-theme-light a, .navbar-theme-light p, .navbar-theme-light span {
    color: #000000;
}

.navbar-theme-dark {
  	background-color: #435360;
    border-bottom: 3px solid #148AC7;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1) !important;
}

.navbar-theme-dark a, .navbar-theme-dark p, .navbar-theme-dark span {
    color: #FFFFFF;
}

.navbar-theme-black {
  	background-color: #000000;
}

.navbar-theme-dark a, .navbar-theme-dark p, .navbar-theme-dark span {
    color: #FFFFFF;
}

.navbar-brand img {
	max-height: 25px;
}

.navbar-brand span {
	font-size: 14px;
	margin-top: 5px;
}

.navbar-banner {
	height: 90px;
	max-height: 90px;
	margin: 0 auto;
	padding: 0px;
}

@media (max-width : 1024px) {
	.navbar-banner {
	    height: auto;
		width: 100%;
	}	
}

/* Footer ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer  {
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.footer-light {
	background-color: #FFFFFF;
	color: #000000;
}

.content-wrapper .footer {
	position: relative;
}

.footer .footer-block {
	position: absolute;
	right: 0;
    margin-right: 20px;
}

.footer-block a, .footer-block span {
	color: #777777;
	font-size: 12px;
	white-space: nowrap;
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}

@media (max-width : 991.98px) {
	.footer {
		left: 0;
	}
	.footer .footer-block {
		margin: 0;
	}
}

/* Btn ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.btn {
	border-radius: 3px;
}

.btn-login {
	color: rgb(255, 255, 255) !important;
	background: rgb(20, 138, 199) !important;
}

.btn-login:hover , .btn-login:focus {
	color: rgb(255, 255, 255) !important;
	background: rgb(20, 123,199) !important;
}
