<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
  		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>SSE CUST Platform</title>
		<meta name="author" content="EricFung">
		<meta name="description" content="Event Management Platform">
		<meta name="keywords" content="Event Management Platform">
        
 		<!-- Favicons -->
		<link rel="icon" th:href="@{/assets/img/favicon.ico}" href="../static/assets/img/favicon.png" />
		<link rel="apple-touch-icon" th:href="@{/assets/img/favicon.ico}" href="../static/assets/img/favicon.png" />
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Raleway&display=swap" rel="stylesheet">
	  
		<!-- Vendor CSS Files -->
		<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" href="../static/assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" th:href="@{/assets/vendor/icofont/icofont.min.css}" href="../static/assets/vendor/icofont/icofont.min.css">
		<link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" href="../static/assets/vendor/boxicons/css/boxicons.min.css">
  
  		<!-- Main CSS File -->
  		<link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
  
	</head>
	
	<!-- Application -->
	<body id="app" class="app">
	
		<div class="content-wrapper" >
		
  			<!-- ======= Main ======= -->
			<main class="container-fluid content-page content-page-full justify-content-center row">
				<div id="loginGrid" class="col" style="max-width: 315px;padding: 0px;">
					<!-- Content -->
					<h2 class="text-center">SSE Customize Sample</h2>
					<!--  Login Form -->
					<form class="loginForm" method="POST" th:action="|javascript:login()|" action="home.html">
						<!-- System message -->
						<div class="message text-center">
							<p><span class="text-info" th:text="${systemMessage}" ></span></p>
							<p><span class="text-danger" th:text="${errorMessage}" ></span></p>
						</div>
						<div class="form-row">
    						<div class="form-group col-md-12">
								<input class="form-control" id="username" name="username" type="text" placeholder="Username 登入" required="required" value="" />
							</div>
    						<div class="form-group col-md-12">
								<input class="form-control" id="password" name="password" type="password" placeholder="Password 密碼" required="required" value="" />
							</div>
    						<div class="form-group col-md-12">
								<input class="btn btn-login form-control" type="submit" value="LOGIN"></input>
							</div>
    						<div class="form-group col-md-12">
								<p id="login-message" style="word-wrap: break-word;"></p>
							</div>
		  					<div class="form-group col-md-12 text-center">
								<span style="color: #777777;" href="#">Module A</span>
							</div>
		  					<div class="form-group col-md-12">
								<a class="btn btn-login form-control" target="_blank" href="./user/userCode/admin">UserCode "admin"</a>
							</div>
		  					<div class="form-group col-md-12">
								<a class="btn btn-login form-control" target="_blank" href="./user/firstName/admin">FirstName "admin"</a>
							</div>
						</div>
					</form>	
				</div>			
				<div id="contentGrid" class="col" style="max-width: 400px; padding: 0px; display: none;">
  					<div class="form-group col-md-12">
						<p id="login-results" style="word-wrap: break-word;"></p>
					</div>
				</div>	
		    </main>
		    <!-- End #main -->
			
  			<!-- ======= Footer ======= -->
			<div th:replace="fragments/footer :: footer"></div>
  			<!-- End Footer -->
		    
	    </div>
		
 		<!-- Vendor JS Files -->
		<script th:src="@{/assets/vendor/jquery/jquery.min.js}" src="../static/assets/vendor/jquery/jquery.min.js" ></script>
		<script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}" src="../static/assets/vendor/jquery.easing/jquery.easing.min.js" ></script>
		<script th:src="@{/assets/vendor/jquery.sticky/jquery.sticky.min.js}" src="../static/assets/vendor/jquery.sticky/jquery.sticky.min.js" ></script>
  		<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  		<!-- Main JS File -->
		<script th:src="@{/assets/customize/js/login.js}" charset="utf-8"></script>
		<script th:inline="javascript">
			
		</script>
		
  	</body>
</html>