<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
  		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>Event Management Platform</title>
		<meta name="author" content="EricFung">
		<meta name="description" content="Event Management Platform">
		<meta name="keywords" content="Event Management Platform">
        
 		<!-- Favicons -->
		<link rel="icon" th:href="@{/assets/img/favicon.ico}" href="../static/assets/img/favicon.png" />
		<link rel="apple-touch-icon" th:href="@{/assets/img/favicon.ico}" href="../static/assets/img/favicon.png" />
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Raleway&display=swap" rel="stylesheet">
	  
		<!-- Vendor CSS Files -->
		<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" href="../static/assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" th:href="@{/assets/vendor/icofont/icofont.min.css}" href="../static/assets/vendor/icofont/icofont.min.css">
		<link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" href="../static/assets/vendor/boxicons/css/boxicons.min.css">
  
  		<!-- Main CSS File -->
  		<link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
  
	</head>
	
	<!-- Application -->
	<body id="app" class="app" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	
		<div class="content-wrapper">
		
  			<!-- ======= Main ======= -->
			<main class="container-fluid content-page content-page-full justify-content-center row">
		    	<!-- Content -->
				<div class="col-xs-12 col-md-8 col-lg-8 text-center">
					<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
					<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
					<a class="btn btn-login" href="home.html" th:href="@{/}">Back to Welcome Page</a>
				</div>		
			</main>
		    <!-- End #main -->
			
  			<!-- ======= Footer ======= -->
			<div th:replace="fragments/footer :: footer"></div>
  			<!-- End Footer -->
		    
	    </div>
		
 		<!-- Vendor JS Files -->
		<script th:src="@{/assets/vendor/jquery/jquery.min.js}" src="../static/assets/vendor/jquery/jquery.min.js" ></script>
		<script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}" src="../static/assets/vendor/jquery.easing/jquery.easing.min.js" ></script>
		<script th:src="@{/assets/vendor/jquery.sticky/jquery.sticky.min.js}" src="../static/assets/vendor/jquery.sticky/jquery.sticky.min.js" ></script>
  		<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  		<!-- Main JS File -->
		<script th:inline="javascript">
			
		</script>
  	</body>
</html>